/* mobile design */
body {
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	text-align: center;
	font-size: 2em;
	padding: 20px;
}

#aud_wrapper {
	display: block;
	margin: 0 auto;
}

form {
	padding: 15px;
}

form input[type="text"] {
	height: 30px;
	width: 80%;
	padding: 5px 10px;
	border: none;
	border-bottom: 1px solid red;
	outline: none;
}

form input[type="submit"] {
	padding: 5px 10px;
	margin-top: 10px;
	border: 1px black solid;
	border-radius: 5px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

main p {
	padding: 10px;
}

main div {
	height: 200px;
	background-color: white;
	border: 1px solid grey;
	box-shadow: 5px 5px 5px #ddd;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

main div h4 {
	text-align: center;
	padding-top: 10px;
	font-size: 1.3em;
}

main div a {
	text-align: center;
	display: block; 
	margin: 0 auto;
}

main div img {
	margin: 0 auto;
	display: block;
	clear: both;
	padding-bottom: 20px;
	cursor: pointer;
}


/* tablet */
@media (min-width: 600px) {
	main {
		flex-direction: row;
		flex-wrap: wrap;
	}

	main div {
		width: 40%;
	}
}


/* desktop */
@media (min-width: 900px) {
	main div {
		width: 25%;
	}
}

